 body {
    width: 100%;
    height: 100%;
    background-color: black;
}

h1,h2{
	float: right;
	text-shadow:1px 1px black;
    font-family: Ink Free;
	
}

h2{
	color: white;
    font-size: 18;
    font-family: Ink Free;
    float: right;
}
.header {
	top: 0;
	 z-index: 1;
	background-image: url("cover.jpg") no-repeat fixed;
	background-size: cover;
    position: relative;
    height: 50%;
    width: 100%;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
    -o-background-size: contain;
}


.text-vertical-center {
    float: left;
	padding-left: 35px;
    padding-top: 130px;
    display: inline-grid;
    text-align: center;
    vertical-align: middle;
}



.container {
  margin-top: 50px;
  margin-left: 15px;
}

.title {
  color: white;
  font-weight: bold;
}


.margin-bottom {
  margin-bottom: 30px;  
}

hr {
    margin: 1rem 0;
    width: 50%;
    color: aliceblue;
    background-color: currentColor;
    border: 0;
    opacity: 1.5;
}


@media screen and (max-width: 500px){
	h1{
	font-size: 13px;
	}
	h2{
	font-size: 8px;
	}
.text-vertical-center {
    float: left;
	padding-left: 15px;
    margin-top: 100px;
    display: inline-grid;
    text-align: center;
    vertical-align: middle;;
}
}
